.VPSidebarItem {
    a {
        max-width: 100%;
        p {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
